# Virtual environment
.venv/
venv/

# Python
__pycache__/
*.pyc

# VS Code
.vscode/

# JetBrains
.idea/

# Environment variables
.env

# SQLite
*.db
*.sqlite3

# Logs
logs/

# Streamlit cache
.streamlit/

# OS
.DS_Store
Thumbs.db